.producto {
    padding-top: -50px;

    &__caption {
        margin-top: -30px;
        margin-left: 5%;
        &__nombre {
            font-size: 60px;
            font-family: Muli;
            color: gray;
        
        }

       
    }
}

.imagen {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
}

    .imgContesp {
        height: 100%;
        img {height: 100%;}
    }

    .imgsVerticales{
        overflow: hidden;
        height: 100%;
        display: flex;
       
        
        
        
        &__descripciones{
            font-size: 20px;
            margin-left: 150px;
            padding: 0px;
           
            justify-content: space-between;
           



        }
    }
            .imgCont {
                height: 25%;
                margin-bottom: 20%;
                img {
                    height: 100%;
    
                   
                }
            }
    


.precio{
    font-size: 30px;
    padding: 50px 0px;
}

.btnAgregar{
    margin-bottom: 80px;
    background: transparent;
    background-color:rgb(211, 181, 14);
    border: 2px solid rgb(211, 181, 14);
    cursor: pointer;


    border-radius: 10px;
    padding: 10px;
    font-size: 20px;

}
.btnAgregar:hover {
    background-color:white;

}



.filters {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

    &__car {
        display: flex;
        justify-content: flex-end;

        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-content: stretch;
            align-items: center;
            margin-top: 100px;


            width: 120px;
            padding: 10px;
            transition: all .4s;
            border-radius: 20px;
            border: 2px solid #4D4C4C;

            cursor: pointer;

            &__imagen {
                width: 20px;
                opacity: .5;
            }
        }
    }
}