.producto {
    padding-top: -50px;

    &__caption {
        margin-top: -30px;
        margin-left: 5%;
        margin-right: 5%;
        &__nombre {
            font-size: 80px;
            font-family: Muli;
            color: gray;
        
        }

       
    }
}

.imagen {

    height: 70px;
    border-radius: 30px;
    padding: 8 8 8 8px;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 300px;
    border: 3px solid rgb(211, 181, 14);
    box-shadow: 2px 2px 10px rgb(211, 181, 14);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 800px;
}

    .imgContesp {
        
        height: 100%;
        img {height: 80%;}
    }

    .imgsVerticales{
        overflow: hidden;
        height: 100%;
        display: flex;
        margin-top: 400px;

        
        
        
        &__descripciones{
            height: 70px;
            border-radius: 30px;
            padding: 15px;
            font-size: 30px;
            margin-left: 50px;
            border: 3px solid rgb(211, 181, 14);;
           // box-shadow: 2px 2px 10px rgb(211, 181, 14);;

           



        }
    }
            .imgCont {
                height: 25%;
                margin-bottom: 20%;
                img {
                    height: 100%;
    
                   
                }
            }
    


.precio{
    font-size: 30px;
    padding: 20px 0px;
    margin-top: -150px;
    margin-left: 100px;
}

.btnAgregar{
    margin-left: 100px;
    margin-bottom: 80px;
    background: transparent;
    background-color:rgb(211, 181, 14);
    border: 2px solid rgb(211, 181, 14);
    cursor: pointer;
    position: absolute;


    border-radius: 10px;
    padding: 10px;
    font-size: 20px;

}
.btnAgregar:hover {
    background-color:white;

}



.filters {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

    &__car {
        display: flex;
        justify-content: flex-end;

        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-content: stretch;
            align-items: center;
            margin-top: 100px;


            width: 120px;
            padding: 10px;
            transition: all .4s;
            border-radius: 20px;
            border: 2px solid #4D4C4C;

            cursor: pointer;

            &__imagen {
                width: 20px;
                opacity: .5;
            }
        }
    }
}